.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 80px;
  padding: 0rem 0rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: var(--text-secondary-color);
  margin-bottom: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

